:root {
    --denim: #303d78;
    --blueberry: #3d54cc;
    --peacock: #24b79d;
    --canary: #ffbb00;
    --chilli: #ff4133;
    --latte: #cc9965;
    --chino: #f4eae1;
    --chosen: #ffffff;
    --rgb: rgb(255, 255, 255);
    --hsl: hsl(0,0%,100%);
    --active-tab-bg-color: #424242;
    --active-tab-color: white;
    --inactive-tab-bg-color: black;
    --inactive-tab-color: white;
    --normal-radius: 10px;
    --small-radius: 7px;
    --border-width: 3px;
    --box-shadow: 3px 3px 7px black;
    --slider-x: 50%;
    --slider-t: 50%;
}

body * {
    box-sizing: border-box;
    border-width: 0;
    font-size: 0;
}

.logo {
    height: 40px;
    position: static;
}

#minimizedContainer {
    cursor: pointer;
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
}

#modalContainer:not([hidden]) {
    width: 350px;
    overflow: hidden;
    text-align: center;
}

#toggleVisibility {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 12px;
    background-color: transparent;
    font-weight: bold;
    padding: 5px;
}

#help {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: transparent;
    background-image: url(./images/help-icon-2.png);
    background-size: contain;
    height: 20px;
    width: 20px;
}

.selectColor {
    color: black;
    margin: 5px;
}

.subsection {
    margin: 0;
    border-radius: var(--normal-radius);
}

.container {
    border-radius: var(--normal-radius);
    background-color: white;
    color: black;
}

.color.container,
#contrastView .subsection {
    background-color: white;
    color: black;
}

#exampleText {
    margin: 10px 50px;
    padding: 10px;
    font-size: 18px;
    background-color: white;
    color: black;
}

.title, .label, h3 {
    font-size: 12px;
}

h1 {
    font-size: 18px;
}

#contrast-tiers {
    background-color: transparent;
}

.colorStrings {
    width: 100%;
    background-color: white;
    color: black;
    border-top-left-radius: var(--normal-radius);
    border-top-right-radius: var(--normal-radius);
}

.string {
    font-size: 12px;
}

.contrast-level {
    font-weight: bold;
    border-radius: var(--normal-radius);
    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--chilli);
    background-color: white;
    width: calc(50% - 10px);
    margin: 5px;
    line-height: 35px;
    display: inline-block;
    vertical-align: top;
}

.contrast-level.large {
    font-size: 18px;
}

.contrast-level.small {
    font-size: 12px;
}


.options {
    width: 100%;
}

.colorInput {
    margin: 10px auto;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.colorInput input {
    width: 80%;
    text-align: inherit;
    padding: 10px 0;
    border: 2px solid black;
    border-radius: var(--small-radius);
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

.colorInput .buttonContainer {
    width: 80%;
    margin: 5px auto;
}

.colorInput button {
    font-size: 12px;
    width: 50%;
    padding: 10px;
    border: 4px solid black;
    font-weight: bold;
    border-radius: 0;
}

.colorInput button:first-child {
    border-top-left-radius: var(--normal-radius);
    border-bottom-left-radius: var(--normal-radius);
    border-right-width: 2px;
}

.colorInput button:last-child {
    border-top-right-radius: var(--normal-radius);
    border-bottom-right-radius: var(--normal-radius);
    border-left-width: 2px;
}

.colorInput input.invalid {
    border: var(--border-width) solid var(--chilli);
}

#contrastView .colorInput input {
    margin: 10px 0;
}

#colorDetailsView .colorInput {
    padding-bottom: 10px;
}

.string,
.card h3 {
    margin: 5px 0;
    color: black;
}

#detailPalette .string:not(.luminance) {
    padding: 5px;
}

#contrastLevelLabel {
    margin-bottom: 0;
}

/****** 

VIEWS 

******/

.view.active {
    text-align: center;
    background-color: var(--active-tab-bg-color);
    color: white;
    padding: 10px;
    position: relative;
    width: 350px;
}

.view:not(.active) * {
    display: none !important;
}

/******** BUTTONS *********/

.tab {
    background-color: var(--inactive-tab-bg-color);
    background-image: linear-gradient(rgba(255,255,255,.4), transparent 60%);
    background-size: 100%;
    color: var(--inactive-tab-color);
    border-radius: var(--normal-radius) var(--normal-radius) 0 0;
    font-weight: bold;
    font-size: 12px;
    vertical-align: bottom;
    width: 20%;
    height: 45px;
}

.tab.active {
    background-color: var(--active-tab-bg-color);
    color: var(--active-tab-color);
}

button,
.button {
    cursor: pointer;
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.view button:hover {
    background-color: var(--peacock);
}

.view button:active {
    background-color: var(--peacock);
}

.slider button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    background-size: 110%;
    margin: -5px 5px 0 5px;
}

#hslButtons,
#rgbButtons {
    margin-top: 15px;
}

#detailButtons button,
#hslButtons button,
#rgbButtons button {
    border-radius: 0;
    padding: 15px;
}

#detailButtons button:not(.edit) {
    min-height: 50px;
    width: 50%;
}

#hslButtons button,
#rgbButtons button {
    width: calc(100% / 3);
    min-height: 50px;
}

.setFont {
    background-image: url(./images/font_icon.png);
}

.setBg {
    background-image: url(./images/bg_icon.png);
}

#detailButtons *:first-child,
#hslButtons *:first-child,
#rgbButtons *:first-child,
#contrastView .options *:first-child {
    border-bottom-left-radius: var(--small-radius);
}

#detailButtons *:last-child,
#hslButtons *:last-child,
#rgbButtons *:last-child,
#contrastView .options *:last-child {
    border-bottom-right-radius: var(--small-radius);
}

#detailButtons .edit {
    background-image: url(./images/edit-pngrepo-com.png);
    position: absolute;
    top: 10px;
    right: 10px;
    background-size: 20px;
}

#detailButtons .edit:hover {
    background-color: unset;
}

#detailsEditForm button {
    margin: 10px;
}

#detailsEditForm input {
    border-width: 1px;
    box-shadow: var(--box-shadow);
    height: 50px;
    border-radius: 25px;
    outline-offset: 0;
}

.plus {
    background-image: url(./images/plus.png);
}

.minus {
    background-image: url(./images/minus.png);
}

#contrastView .option {
    height: 50px;
    border-radius: 0;
    width: 50%;
}

#contrastView .edit,
#hslButtons .edit,
#rgbButtons .edit {
    background-image: url(./images/edit-pngrepo-com.png);
}

#contrastView .examine,
#hslButtons .examine,
#rgbButtons .examine {
    background-image: url(./images/search-look-inspect-magnifying-glass-pngrepo-com.png);
}

.option {
    /* flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center; */
    padding: 10px;
}

#pageColorsView .option {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px auto;
    background-size: 110%;
    box-shadow: var(--box-shadow);
}

.updateBtn {
    font-weight: bold;
    border: 5px solid black;
}

/************* INPUTS **************/
input {
    border-radius: var(--small-radius);
    border-width: 0;
    border-color: var(--chosen);
    box-shadow: var(--box-shadow);
}


.selectColor input {
    text-align: center;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.selectColor input:not([type=range]):hover {
    border: 3px solid var(--peacock);
}

input[type="number"] {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 12px;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    transition: all .3s;
    border: 2px solid black;
}

input[type="range"]:active::-webkit-slider-thumb {
    margin-top: -35px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-bottom-right-radius: 0;
    transform: rotate(45deg);
    -webkit-appearance: none;
}

#rgbView input[type="range"]:active::-webkit-slider-thumb {
    background: var(--rgb);
}

#hslView input[type="range"]:active::-webkit-slider-thumb {
    background: var(--hsl);
}

input[type="range"] {
    border-radius: var(--small-radius);
    height: 7px;
    outline: none;
    -webkit-appearance: none;
    vertical-align: top;
}

.hue.slider input {
    background: linear-gradient(
        to right,
        hsl(0, 100%, 50%) 5%,
        hsl(20, 100%, 50%),
        hsl(40, 100%, 50%),
        hsl(60, 100%, 50%),
        hsl(80, 100%, 50%),
        hsl(100, 100%, 50%),
        hsl(120, 100%, 50%),
        hsl(140, 100%, 50%),
        hsl(160, 100%, 50%),
        hsl(180, 100%, 50%),
        hsl(200, 100%, 50%),
        hsl(200, 100%, 50%),
        hsl(220, 100%, 50%),
        hsl(240, 100%, 50%),
        hsl(260, 100%, 50%),
        hsl(280, 100%, 50%),
        hsl(300, 100%, 50%),
        hsl(320, 100%, 50%),
        hsl(340, 100%, 50%),
        hsl(360, 100%, 50%) 95%
    );
}

.red.slider input {
    background: linear-gradient(to right, transparent, rgb(255,0,0));
}

.green.slider input {
    background: linear-gradient(to right, transparent, rgb(0,255,0));
}

.blue.slider input {
    background: linear-gradient(to right, transparent, rgb(0,0,255));
}

/* .slider {
    display: flex;
    align-items: center;
} */

/************* SECTIONS ***************/

/* .view .half {
    flex-basis: 45%;
    flex-grow: 1;
}

.view .full {
    align-self: stretch;
}

.view .full.split {
    flex-direction: row !important;
} */

#contrastInfo {
    background-color: transparent;
    color: black;
}

#contrastColors {
    display: inline-block;
    width: 100%;
}

#fontColor,
#bgColor {
    width: calc(50% - 10px);
    font-size: 12px;
    display: inline-block;
    margin-bottom: 5px;
}

#fontColors,
#bgColors {
    overflow-y: scroll;
    max-height: 400px;
}

#fontColor {
    margin-right: 5px;
}

#bgColor {
    margin-left: 5px;
}

#contrastView .section {
    /* display: flex;
    align-items: center;
    align-self: stretch; */
    border-radius: var(--normal-radius);
}

.section.half {
    vertical-align: top;
    width: 50%;
    display: inline-block;
}

/************* SWATCH *****************/


.swatch {
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    min-height: 30px;
    height: 30px;
    width: 30px;
    margin: 0 auto;
}

#contrastView .swatch,
#pageColorsView .swatch {
    margin: 15px auto;
}

#hslSwatch,
#rgbSwatch {
    margin-bottom: 25px;
}

#detailSwatch,
#hslSwatch,
#rgbSwatch {
    margin-top: 30px;
    transform: scale(1.5);
}

#hslSwatch {
    background-color: var(--hsl);
}

#rgbSwatch {
    background-color: var(--rgb);
}

#detailSwatch {
    margin-bottom: 20px;
    background-color: var(--chosen);
}

/************ PALETTES *************/

.palette {
    position: relative;
    background-color: white;
    border-radius: var(--normal-radius);
    display: inline-block;
    width: 100%;
    font-size: 12px;
}

#rgbPalette {
    width: 100%;
}

#hslPalette .title,
#rgbPalette .title {
    margin: 0;
}

.color.container.palette {
    width: calc(100% - 10px);
    margin-bottom: 10px;
}