:root {
    --denim: #303d78;
    --blueberry: #3d54cc;
    --peacock: #24b79d;
    --canary: #ffbb00;
    --chilli: #ff4133;
    --latte: #cc9965;
    --chino: #f4eae1;
    --chosen: #FFFFFF;
}

body * {
    box-sizing: border-box;
}

#modalContainer:not([hidden]) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 350px;
}

#toggleVisibility {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    border: none;
    background-color: transparent;
    font-weight: bold;
    padding: 5px;
}

.view,
#nav {
    width: 100%;
}

#nav {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin: 5px 0 0;
    padding: 0;
    width: 100%;
}

.view:not([hidden]) {
    max-height: 400px;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid var(--denim);
    background-color: var(--denim);
    color: white;
    padding: 10px;
}

#contrast {
    padding-top: 0;
}

.view .half {
    flex-basis: 45%;
    flex-grow: 1;
}

.view .full {
    background-color: white;
    color: var(--denim);
    align-self: stretch;
}

.view .full.split {
    flex-direction: row !important;
}

#colorDetails,
#contrast {
    flex-direction: column;
}

#contrastColors {
    background-color: var(--denim);
    color: white;
}

.toggle {
    padding: 10px;
    color: var(--denim);
    background-color: white;
    font-weight: bold;
    font-size: 12px;
    flex-grow: 1;
    border: 1px solid var(--denim);
    border-radius: 10px 10px 0 0;
    background-color: var(--chino);
}

.toggle.active {
    background-color: var(--denim);
    color: white;
}

button,
.button,
#minimizedContainer{
    cursor: pointer;
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
}

#colorDetails .section {
    border-radius: 10px;
    border: 3px solid black;
    margin: 5px;
}

#colorDetails .palette {
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    display: flex;
}

#detailButtons {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.selectColor {
    padding: 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--chosen);
    border-radius: 10px;
    margin: 10px;
}

.selectColor .title {
    margin: 5px;
}

.selectColor input {
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.valueInput {
    width: 40px;
}

.slider {
    display: flex;
}

.logo {
    height: 40px;
}

.subsection {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-height: 350px;
    overflow-y: scroll;
    margin: 5px 0;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--denim);
    border-radius: 10px;
    background-color: white;
    color: black;
}

.color.container,
#contrast .subsection {
    align-self: stretch;
    background-color: white;
    color: black;
}

#fontColor .subsection {
    margin-right: 5px;
}

#bgColor .subsection {
    margin-left: 5px;
}

#contrast .section {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    border-radius: 10px;
}

#contrast .section:not(.split) {
    flex-direction: column;
}

#exampleText {
    border: 3px solid black;
    margin-top: 10px;
    font-size: 18px;
}

.swatch {
    border-radius: 50%;
    align-self: center;
    justify-content: center;
    border-style: solid;
    border-color: black;
    margin: 10px;
    height: 30px;
    width: 30px;
    border-width: 3px;
}

#colorDetails .swatch {
    height: 50px;
    width: 50px;
    border-width: 4px;
    margin: 15px;
}

.palette {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    justify-content: center;
    position: relative;
}

#pageColors .palette {
    margin: 5px;
}

#contrast-tiers,
#colorStrings {
    display: grid;
    grid-template-columns: repeat(2, 1fr [col-start]);
    grid-template-rows: repeat(2, 1fr [row-start]);
    column-gap: 10px;
    row-gap: 10px;
    padding-bottom: 20px;
    width: 80%;
}

#colorStrings {
    width: 80%;
    margin: auto;
}

.contrast-level {
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--chilli);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contrast-level.large {
    font-size: 18px;
}

.contrast-level.small {
    font-size: 12px;
}

.contrast-info {
    display: flex;
    text-align: center;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    border: 3px solid black;
}

#contrast .palette {
    padding-bottom: 50px;
}

.options {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.option {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#colorDetails .option {
    padding: 15px;
}

#contrast .option {
    height: 50px;
}

#pageColors .option {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
}

.view button:hover {
    background-color: lightskyblue;
}

.view button:active {
    background-color: var(--peacock);
}

.options .examine,
#detailButtons button:first-child {
    border-bottom-left-radius: 7px;
}

.options .edit,
#detailButtons button:last-child {
    border-bottom-right-radius: 7px;
}

.color-input {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.color-input input {
    margin: 10px 0;
    width: 80%;
    text-align: inherit;
    padding: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
}

.color-input input.invalid {
    border: 2px solid var(--chilli);
}

.color-input button {
    padding: 10px;
    border: none;
    background-color: var(--blueberry);
    color: white;
    border-radius: 5px;
}

#detailsEditForm {
    padding: 10px;
}

#detailsEditForm button {
    margin: 10px;
}

.plus {
    background-image: url(./images/plus.png);
}

.minus {
    background-image: url(./images/minus.png);
}

#detailButtons button {
    min-height: 50px;
}

#detailButtons .edit {
    background-image: url(./images/edit-pngrepo-com.png);
}

#detailButtons .setFont {
    background-image: url(./images/font_icon.png);
}

#detailButtons .setBg {
    background-image: url(./images/bg_icon.png);
}

.slider button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
}

#contrast .edit {
    background-image: url(./images/edit-pngrepo-com.png);
}

#contrast .examine {
    background-image: url(./images/search-look-inspect-magnifying-glass-pngrepo-com.png);
}