:root {
    --denim: #303d78;
    --blueberry: #3d54cc;
    --peacock: #24b79d;
    --canary: #ffbb00;
    --chilli: #ff4133;
    --latte: #cc9965;
    --chino: #f4eae1;
}

#modalContainer:not([hidden]) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#toggleVisibility {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    border: none;
    background-color: transparent;
    font-weight: bold;
    padding: 5px;
}

#nav {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin: 5px 0 0;
    padding: 0;
    width: 100%;
}

.view:not([hidden]) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 325px;
    border: 1px solid var(--denim);
    background-color: var(--denim);
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    overflow-y: scroll;
    max-height: 400px;
}

#colorDetails,
#contrast {
    flex-direction: column;
}

.split {
    flex-direction: row !important;
}

.toggle {
    padding: 10px;
    color: var(--denim);
    background-color: white;
    font-weight: bold;
    font-size: 12px;
    flex-grow: 1;
    border: 1px solid var(--denim);
    border-radius: 10px 10px 0 0;
    background-color: var(--chino);
}

.toggle.active {
    background-color: var(--denim);
    color: white;
}

button,
.button,
#minimizedContainer{
    cursor: pointer;
}

#colorDetails .section {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 10px;
}

.view .full:not(.split) {
    background-color: white;
    color: var(--denim);
    flex-grow: 1;
    flex-basis: 80%;
    align-self: stretch;
}

.view .half {
    flex-basis: 45%;
    flex-grow: 1;
}

.logo {
    height: 40px;
}

.subsection {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-height: 250px;
    overflow-y: scroll;
    margin: 5px 0;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border: 1px solid var(--denim);
    border-radius: 10px;
    background-color: white;
    color: black;
}

.color.container,
#contrast .subsection {
    align-self: stretch;
    background-color: white;
    color: black;
}

#fontColor .subsection {
    margin-right: 5px;
}

#bgColor .subsection {
    margin-left: 5px;
}

.section {
    border-radius: 10px;
}

#contrast .section {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin: 0;
}

#contrast .section:not(.split) {
    flex-direction: column;
}

#exampleText {
    margin-top: 10px;
    border: 3px solid black;
}

.swatch {
    border-radius: 50%;
    align-self: center;
    justify-content: center;
    border-style: solid;
    border-color: black;
}

.palette {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    justify-content: center;
    padding: 15px 0 0;
    margin: 5px;
    position: relative;
}

.palette h4 {
    margin: 5px;
}

.palette h4:last-of-type {
    margin-bottom: 15px;
}

#colorDetails .swatch {
    height: 40px;
    width: 40px;
    border-width: 4px;
}

#contrast .swatch {
    height: 30px;
    width: 30px;
    border-width: 3px;
}

.color .swatch {
    border-width: 2px;
    height: 20px;
    width: 20px;
}

h3.label {
    margin-top: 5px;
}

#exampleText {
    font-size: 18px;
}

#contrast-tiers {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    width: 80%;
}

.contrast-info {
    display: flex;
    text-align: center;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.contrast-level {
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--chilli);
    flex-grow: 1;
    flex-basis: 30%;
    margin: 10px;
}

#contrast .palette {
    padding-bottom: 50px;
}

.options {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.option {
    flex-grow: 1;
    border: none;
    padding: 15px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option:hover {
    background-color: lightskyblue;
}

.options .examine {
    border-bottom-left-radius: 7px;
}

.options .edit {
    border-bottom-right-radius: 7px;
}

#pageColors .option {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 100%;
}